$post-background-color: lightgreen;
$breakpoint-list: 20em 50em 75em;
$breakpoint-small: 20em;
$breakpoint-medium: 50em;
$breakpoint-large: 75em;
$margin-small: auto;
$margin-medium: 0 10%;

$bio-padding: 1em;
$nav-background-color: #f26f63;
$bio-background-color: #F2AA6B;
$post-background-color: #B3BF88;
$aside-background-color: #8FA690;
$footer-background-color: #D95970;

$body-font-family: Helvetica Neue, sans-serif;